In [1]:
import requests, webbrowser
from bs4 import BeautifulSoup
import os 
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from pathlib import Path
import math
from sklearn.feature_extraction import text
import random

In [2]:
folder_names = []
all_files = []
count = 0
path = os.getcwd() + "/Datasets"
for dirpath, dirnames, filenames in os.walk(path):  # getcwd() for current work dir
    if count == 0:
        folder_names = dirnames
    else:
        all_files.append(filenames)
    count+=1

In [3]:
text_seperate = []
text_all = []

for i in range(len(all_files)):
    text_folder = []
    text_documents = ""
    for file_name in all_files[i]:
        txt = Path(path+"/"+folder_names[i]+"/"+file_name).read_text()
        txt = txt.replace("\n", " ")
        txt = txt.replace("\t", " ")
        text_documents += txt
        text_folder.append(txt)
    text_all.append(text_documents)
    text_seperate.append(text_folder)

In [4]:
new_text_all = []
for i in range(len(text_all)):
    txt = text_all[i].lower().split()
    new_text = ""
    for word in txt:
        occurence = txt.count(word)
        doc_with_word = 0
        for doc in text_seperate[i]:
            if word in doc:
                doc_with_word += 1
        
        if occurence >= 10 and doc_with_word >=2:
            new_text += word + " "
    new_text_all.append(new_text)

In [5]:
vectorizer_1 = TfidfVectorizer(stop_words = text.ENGLISH_STOP_WORDS)
vectors = vectorizer_1.fit_transform([new_text_all[0]])
feature_names_1 = vectorizer_1.get_feature_names()

In [6]:
vectorizer_2 = TfidfVectorizer(stop_words = text.ENGLISH_STOP_WORDS)
vectors = vectorizer_2.fit_transform([new_text_all[1]])
feature_names_2 = vectorizer_2.get_feature_names()

In [7]:
vectorizer_3 = TfidfVectorizer(stop_words = text.ENGLISH_STOP_WORDS)
vectors = vectorizer_3.fit_transform([new_text_all[2]])
feature_names_3 = vectorizer_3.get_feature_names()

In [8]:
feature_names = []
feature_names.append(feature_names_1)
feature_names.append(feature_names_2)
feature_names.append(feature_names_3)

In [9]:
features_all = []

for i in range(len(feature_names)):
    feature_topic = []
    for feature in feature_names[i]:
        counter = False
        if not feature.isdigit():
            for char in feature:
                if char.isdigit():
                    counter = True
                    break
            if not counter:
                feature_topic.append(feature)
    features_all.append(feature_topic)

In [10]:
selected_feature_all = []
selected_num_all = []

for i in range(len(features_all)):
    
    count = 0
    feature_list = features_all[i]
    max_num = len(feature_list)-1
    
    selected_feature = []
    selected_num = []
    
    while count < 15:
        num = random.randint(0,max_num)
        if num not in selected_num:
            selected_feature.append(feature_list[num])
            selected_num.append(num)
            count += 1
    selected_feature_all.append(selected_feature)
    selected_num_all.append(selected_num)

In [11]:
tfidf_all_1 = []
occurences_all_1 = []
for data in text_seperate[0]:
    doc_tfidf = []
    doc_occurences = []
    for feature in selected_feature_all[0]:
        occurences = data.count(feature)
        doc_occurences.append(occurences)
        num_words = len(data.split())
        tf = occurences/num_words
        doc_with_feature = 0
        idf = 0
        for doc in text_seperate[0]:
            if feature in doc:
                doc_with_feature += 1
        if doc_with_feature != 0:
            idf = math.log((10/doc_with_feature),2)
        tfidf = tf*idf
        doc_tfidf.append(tfidf)
    tfidf_all_1.append(doc_tfidf)
    occurences_all_1.append(doc_occurences)

In [12]:
df_1 = pd.DataFrame(tfidf_all_1)
df_1.columns = selected_feature_all[0]
df_1

,use,artificial,intelligence,cloud,new,ai,information,development,technology,data,news,big,machine,make,human
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.007588,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.001450,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.003026,0.007703,0.0,0.000000,0.000000,0.000000,0.002689,0.008711,0.000000,0.000000,0.000000,0.000000
3,0.001088,0.000000,0.000000,0.000000,0.001245,0.0,0.000000,0.000000,0.003922,0.000869,0.001689,0.000000,0.000000,0.004466,0.002934
4,0.001634,0.003929,0.006710,0.002939,0.006235,0.0,0.005878,0.000000,0.000000,0.009578,0.001692,0.000000,0.000000,0.002237,0.000000
5,0.001038,0.000000,0.000000,0.000000,0.007132,0.0,0.005603,0.000000,0.000000,0.000000,0.006452,0.000000,0.000000,0.000000,0.000000
6,0.001970,0.033754,0.030343,0.000000,0.000000,0.0,0.000000,0.000000,0.003553,0.000394,0.000000,0.001777,0.030201,0.001011,0.022593
7,0.001497,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000598,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.001358,0.000000,0.033467,0.000000,0.006219,0.0,0.007329,0.000000,0.000000,0.006514,0.008439,0.000000,0.000000,0.000000,0.000000
9,0.001620,0.000000,0.004157,0.001092,0.000464,0.0,0.000000,0.001460,0.000000,0.001295,0.000000,0.002921,0.005841,0.001663,0.005462

In [13]:
tfidf_all_2 = []
occurences_all_2 = []
for data in text_seperate[1]:
    doc_tfidf = []
    doc_occurences = []
    for feature in selected_feature_all[1]:
        occurences = data.count(feature)
        doc_occurences.append(occurences)
        num_words = len(data.split())
        tf = occurences/num_words
        doc_with_feature = 0
        idf = 0
        
        for doc in text_seperate[1]:
            if feature in doc:
                doc_with_feature += 1
        if doc_with_feature != 0:
            idf = math.log((10/doc_with_feature),2)
        tfidf = tf*idf
        doc_tfidf.append(tfidf)
    tfidf_all_2.append(doc_tfidf)
    occurences_all_2.append(doc_occurences)

In [14]:
df_2 = pd.DataFrame(tfidf_all_2)
df_2.columns = selected_feature_all[1]
df_2

,people,learn,technology,need,sign,global,financial,page,users,change,digital,industries,information,companies,private
0,0.007925,0.000000,0.001258,0.000629,0.002560,0.002256,0.000000,0.002515,0.000000,0.003413,0.000000,0.000000,0.000629,0.000000,0.000000
1,0.000000,0.000000,0.001378,0.001378,0.000935,0.000000,0.001235,0.001378,0.000000,0.000935,0.003706,0.000000,0.000000,0.000000,0.001623
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003084,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000484,0.004584,0.001079,0.001098,0.001935,0.002418,0.000000,0.002549,0.003293,0.000484,0.001935,0.001888,0.003813,0.002542
4,0.000000,0.003185,0.000000,0.003552,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.003509,0.000000,0.004762,0.000000,0.000000,0.007019,0.000000,0.000000,0.000000,0.006295,0.003509,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021019,0.000000,0.000000,0.000000,0.000000,0.005255,0.000000,0.000000
7,0.000000,0.005698,0.000000,0.000000,0.000000,0.000000,0.000000,0.022236,0.000000,0.004310,0.000000,0.000000,0.003177,0.000000,0.000000
8,0.000000,0.000000,0.002291,0.001527,0.000000,0.002740,0.001370,0.000000,0.000000,0.000000,0.001370,0.004110,0.000000,0.001800,0.000000
9,0.001428,0.000542,0.003324,0.001813,0.002255,0.000271,0.001626,0.000000,0.004761,0.004716,0.002982,0.000271,0.001058,0.004630,0.003205

In [15]:
tfidf_all_3 = []
occurences_all_3 = []
for data in text_seperate[2]:
    doc_tfidf = []
    doc_occurences = []
    for feature in selected_feature_all[2]:
        occurences = data.count(feature)
        doc_occurences.append(occurences)
        num_words = len(data.split())
        tf = occurences/num_words
        doc_with_feature = 0
        idf = 0
        
        for doc in text_seperate[2]:
            if feature in doc:
                doc_with_feature += 1
        if doc_with_feature != 0:
            idf = math.log((10/doc_with_feature),2)
        tfidf = tf*idf
        doc_tfidf.append(tfidf)
    tfidf_all_3.append(doc_tfidf)
    occurences_all_3.append(doc_occurences)

In [16]:
df_3 = pd.DataFrame(tfidf_all_3)
df_3.columns = selected_feature_all[2]
df_3

,connected,monitor,use,management,physical,page,latest,network,systems,information,internet,news,business,home,industrial
0,0.000000,0.000000,0.002450,0.000000,0.000000,0.007019,0.000000,0.000000,0.000000,0.003509,0.000000,0.000000,0.006295,0.003509,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.003084,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003084,0.000000
2,0.000000,0.000000,0.002393,0.000000,0.000000,0.000857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.002083,0.000000,0.000000,0.020886,0.000000,0.000000,0.000000,0.002984,0.000000,0.010704,0.000000,0.000000,0.000000
4,0.010491,0.000000,0.003552,0.000000,0.000000,0.000000,0.001141,0.001141,0.001141,0.004451,0.000000,0.000000,0.001141,0.001272,0.000000
5,0.000000,0.002676,0.000793,0.008029,0.000000,0.003407,0.004074,0.010184,0.002037,0.003407,0.000000,0.002037,0.000000,0.003407,0.000000
6,0.006818,0.016193,0.004292,0.001705,0.007975,0.000000,0.000000,0.001946,0.001946,0.001446,0.003418,0.000000,0.010378,0.000723,0.003418
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002303,0.000000,0.000000,0.000000,0.000000,0.011515,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.001409,0.000000,0.000000,0.000000,0.000000,0.000000,0.002528,0.000000,0.000000,0.000000
9,0.006500,0.004333,0.003423,0.002167,0.003862,0.000000,0.001099,0.006046,0.003848,0.002451,0.017378,0.000000,0.001099,0.000919,0.003862